/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

 /* ==========================================================================
   Author's custom styles
   ========================================================================== */


@font-face {
    font-family: 'fivo_sansbold';
    src: url('../fonts/fivosans-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'fivo_sansheavy';
    src: url('../fonts/fivosans-heavy-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fivo_sanslight';
    src: url('../fonts/fivosans-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fivo_sansregular';
    src: url('../fonts/fivosans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fivo_sansitalic';
    src: url('../fonts/fivosans-oblique-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'fivo_sansmedium';
    src: url('../fonts/fivosans-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fivo_sans_modernheavy';
    src: url('../fonts/fivo-sans-modern.heavy-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;

    font-family: fivo_sanslight, Arial, sans-serif;
    font-size: 18px;
    line-height: 40px;

    color: rgba(0, 0, 0, 0.65);

    background-color: #fff;
}

a {
    text-decoration: none;
}

.red-btn {
    background-color: #ff6a6d;
}

.main-header {
    background-image: url(../img/header-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

.header-nav {
    font-family: fivo_sansregular, Arial, sans-serif;
    font-size: 18px;
    line-height: 36px;
}

.header-nav .main-header__logo {
    font-family: fivo_sansheavy, Arial, sans-serif;
    font-size: 32px;
    line-height: 36px;

    color: #ff6a6d;
}

.site-navigation,
.user-navigation {
    list-style-type: none;
}

.site-navigation a,
.user-navigation a {
    color: rgba(28, 32, 86, 0.5);
}

.site-navigation .current {
    font-family: fivo_sansbold, Arial, sans-serif;

    color: #ff6a6d;
}

.user-navigation .user-navigation__button {
    font-family: fivo_sansregular, Arial, sans-serif;
    font-size: 18px;
    line-height: 36px;

    color: #fff;

    padding: 12px 45px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.title2 {
    font-size: 50px;
    line-height: 60px;
    font-family: fivo_sansbold, Arial, sans-serif;

    color: #3b3838;
}

.start-home__button {
    font-family: fivo_sansregular, Arial, sans-serif;
    font-size: 20px;
    line-height: 40px;

    color: #f82a56;

    padding: 27px 50px;

    border: 3px solid #f82a56;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

.features-block1__h3 {
    font-family: fivo_sansbold, Arial, sans-serif;
    font-size: 24px;
    line-height: 60px;

    color: #3b3838;
}

.features-block1__p {
    line-height: 27px;
}

.features-block2 h3 {
    font-family: fivo_sansbold, Arial, sans-serif;
    font-size: 24px;
    line-height: 40px;

    color: #000;
    opacity: .75;
}

.oblique {
    font-family: fivo_sansitalic, Arial, sans-serif;
    font-size: 18px;
    line-height: 40px;

    color: #3cbef1;
}

.best-seller {
    font-family: fivo_sansbold, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;

    color: #fbfcfc;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;

    background-color: #ff6a6d;
}

.prices-list li {
    font-family: fivo_sansregular, Arial, sans-serif;
    line-height: 30px;

    text-transform: capitalize;
}

.prices__amount {
    font-family: fivo_sansregular, Arial, sans-serif;
    font-size: 150px;
    line-height: 150px;
}

.prices__billed {
    font-family: fivo_sansitalic, Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.prices__h3 {
    font-family: fivo_sansbold, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;

    color: #6d6d6d;
}

.prices__btn {
    font-family: fivo_sansmedium, Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    
    background-color: #ff6a6d;

    color: #fbfcfc;
    text-transform: capitalize;
}

.footer-nav__h3 {
    font-family: fivo_sans_modernheavy, Arial, sans-serif;
    font-size: 18px;
    line-height: 40px;

    color: #6d6d6d;
    text-transform: uppercase;
}

.footer-nav__list a {
    font-family: fivo_sansregular, Arial, sans-serif;
    font-size: 16px;
    line-height: 36px;

    color: inherit;
}

.footer-nav__contacts {
    font-family: fivo_sansregular, Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
}

.footer-nav__copyright {
    font-family: fivo_sansregular, Arial, sans-serif;
    font-size: 18px;
    line-height: 36px;
}
 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


